
* { 
    box-sizing: border-box;
}

h1, h2, img, p, a, input {
    padding-left: 10px;
} 

nav{
    background-color:slategrey;
    display: flex;
}

nav a {
    padding: 20px 16px;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

nav a:hover{
    background-color: palevioletred;
}

.container {
    border: 1px solid #c3c3c3;
  }

.right {
    display: inline-block;
    vertical-align: top;
}

.image {
    padding-right: 40px;
    padding-bottom: 20px;
    width: 300px;
}

.image2 {
    padding-right: 40px;
    padding-bottom: 20px;
    width: 600px;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.subtitle {
    margin-top: 0;
    font-style: italic;
}

.pad {
    padding: 10px;
}

textarea {
    width: 40%;
    padding: 5px;
}

.message {
    height: 100px;
}